body{  
    padding-top:20px;
    background-color: rgb(228,223,205);
}

#editor { 
    position: relative;
    height : 60%;
}
#editorFullscreen{ 
    position: relative;
    height : 80%;
    width : 80%;
}
#theme { 
    width : 200;
    height: 25;
}
#mode { 
    width : 200;
    height: 25;
}
#searchBar{
    background-color: rgb(240,235,217);
}

#adminHeader{
    background-color: rgb(0,0,0);
    color:rgb(240,235,217);
    vertical-align: middle;
}
table[name=adminDiv]{
    background-color: rgb(240,235,217);
}